.nav {
    display: flex;
    justify-content: space-between;
}
.flex {display: flex; gap: 1rem;}
ul { list-style: none; }
.logout { color: red}
.card {
    padding: 1rem;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
}
.bg-green {
    background-color:rgb(9, 222, 30);
    color: #fff;
}
.bg-blue {
    background-color:rgb(8, 168, 232);
    color: #fff;
}